In [1]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi



api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("18876299997", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MjMzODAzMDM4MDUiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTg4NzYyOTk5OTcifQ.NtIUbj4GEXvM5by21cNujEpqxkVeP3CdqRIDEuzZswQ'
)

start = 20130101
end = 20180101
SH_id = dp.index_cons(api, "000300.SH", start, end)
SZ_id = dp.index_cons(api, "000905.SH", start, end)

stock_symbol = list(set(SH_id.symbol)|set(SZ_id.symbol))

In [2]:
factor_list = ['volume']
check_factor = ','.join(factor_list)

In [3]:
import jaqs_fxdayu
jaqs_fxdayu.patch_all()
from jaqs.data import DataView
from jaqs.data import RemoteDataService
from jaqs_fxdayu.data.dataservice import LocalDataService
import os
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

dataview_folder = 'F:/data'
dv = DataView()
ds = LocalDataService(fp=dataview_folder)

dv_props = {'start_date': start, 'end_date': end, 'symbol':','.join(stock_symbol),
         'fields': check_factor,
         'freq': 1,
         "prepare_fields": True}

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

E:\pypy\lib\importlib\__init__.py:126: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  return _bootstrap._gcd_import(name[level:], package, level)
E:\pypy\lib\site-packages\matplotlib\__init__.py:1405: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'open_adj,symbol,high,vwap,low,high_adj,trade_status,open,vwap_adj,close,trade_date,close_adj,low_adj,volume'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'high,vwap,low,open,close,symbol,trade_date'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

In [4]:
dv.add_field('sw1')

True

In [5]:
sw1 = dv.get_ts('sw1')

In [6]:
dict_classify = {'480000': '银行', '430000': '房地产', '460000': '休闲服务', '640000': '机械设备', '240000': '有色金属', '510000': '综合', '410000': '公用事业', '450000': '商业贸易', '730000': '通信', '330000': '家用电器', '720000': '传媒', '630000': '电气设备', '270000': '电子', '490000': '非银金融', '370000': '医药生物', '710000': '计算机', '280000': '汽车', '340000': '食品饮料', '220000': '化工', '210000': '采掘', '230000': '钢铁', '650000': '国防军工', '110000': '农林牧渔', '420000': '交通运输', '620000': '建筑装饰', '350000': '纺织服装', '610000': '建筑材料', '360000': '轻工制造'}

In [7]:
sw1_name = sw1.replace(dict_classify)

In [8]:
sw1_name.tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,银行,房地产,房地产,机械设备,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属
20171226,银行,房地产,房地产,机械设备,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属
20171227,银行,房地产,房地产,机械设备,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属
20171228,银行,房地产,房地产,机械设备,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属
20171229,银行,房地产,房地产,机械设备,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属

In [9]:
LongDebtToWorkingCapital=dv.add_formula('LongDebtToWorkingCapital_J',"tot_non_cur_liab/(tot_cur_assets-tot_cur_liab)",is_quarterly=True,add_data=True)

Variable [tot_non_cur_liab] is not recognized (it may be wrong),try to fetch from the server...
Query data - query...
The history saving thread hit an unexpected error (OperationalError('disk I/O error',)).History will not be written to the database.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Variable [tot_cur_assets] is not recognized (it may be wrong),try to fetch from the server...
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Variable [tot_cur_liab] is not recognized (it may be wrong),try to fetch from the server...
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.

In [10]:
dv.get_ts('LongDebtToWorkingCapital_J').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313
20171226,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313
20171227,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313
20171228,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313
20171229,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313

In [11]:
OperCashGrowRate=dv.add_formula('OperCashGrowRate_J',"(TTM(net_cash_flows_oper_act)/Delay(TTM(net_cash_flows_oper_act),4))-1",is_quarterly=True,add_data=True)

Variable [net_cash_flows_oper_act] is not recognized (it may be wrong),try to fetch from the server...
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.

In [12]:
dv.get_ts('OperCashGrowRate_J').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786
20171226,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786
20171227,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786
20171228,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786
20171229,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786

In [13]:
Kurtosis120=dv.add_formula('Kurtosis120',"Ts_Kurtosis(Return(close,1),120)",is_quarterly=False,add_data=True)

In [14]:
dv.get_ts('Kurtosis120').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,1.701927,2.961635,8.814589,2.724256,4.093874,6.802518,0.645553,NaN,5.096337,8.234484,...,2.287562,3.816713,3.171751,1.332003,1.862959,2.073009,3.193973,6.037637,0.918960,0.248528
20171226,1.580301,3.039489,8.967603,2.535057,4.129736,6.689147,0.639011,NaN,5.297702,8.258968,...,2.218275,3.648602,3.165961,1.433713,1.850950,1.984009,3.039888,5.828095,0.923352,0.299029
20171227,1.490741,3.143006,9.191304,2.534300,4.321838,6.737704,0.550171,NaN,5.365913,8.229912,...,2.271403,3.495693,3.144500,1.414940,1.898012,1.801155,2.932961,5.818500,0.880928,0.396211
20171228,1.485747,3.159335,9.637825,2.593390,4.322607,6.719070,0.496131,NaN,5.373502,8.248609,...,2.248776,3.500020,3.176481,1.451763,1.809439,1.761720,2.862703,5.740148,0.879925,0.230942
20171229,1.487081,3.189389,9.637825,2.544470,4.461890,6.365234,0.449110,NaN,5.506382,8.189272,...,2.286083,3.541994,3.199700,1.379281,1.802631,1.714164,2.638174,5.730142,0.774784,0.301229

In [15]:
def RM(A):
    c=ds.index_daily(universe=['000300.SH'],start_date=start,end_date=end,fields='close')#获取沪深300指数的close#
    b=dv.get_ts('close')
    df=c[0]

    for i in range (1,len(b.columns)):
        df.insert(i,i,df['close'])
    df.index=b.index
    df.columns=b.columns
    
    A=df
    return A

RM=dv.add_formula('RM',"Return(RM(close),1)",is_quarterly=False,add_data=True,register_funcs={"RM":RM})#沪深300指数收益#
Beta252=dv.add_formula('Beta252',"Covariance(Return(close,1),Return(RM,1),252)/(StdDev(RM,252)^2)",is_quarterly=False,add_data=True)

In [16]:
dv.get_ts('Beta252').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,-7530.108982,-16518.389149,-5454.563457,-6609.673849,-3137.571016,-4505.682885,-9462.140284,NaN,-2654.553766,-2357.367291,...,NaN,-2464.923160,764.274949,1035.617643,NaN,-3067.051666,-6192.065791,-1863.062232,1911.424102,973.042948
20171226,-7600.846213,-16754.546513,-5541.389472,-6692.757492,-3185.797791,-4569.471331,-9593.881304,NaN,-2688.440285,-2390.243374,...,NaN,-2490.339491,799.114037,1036.200169,NaN,-3089.209427,-6273.789646,-1880.777557,1923.813790,978.068562
20171227,-7413.480291,-16327.586414,-5400.456496,-6512.307075,-3106.897608,-4464.102550,-9366.548678,NaN,-2619.963670,-2326.301296,...,NaN,-2442.904247,773.549183,998.900914,NaN,-3023.548245,-6137.959472,-1854.224498,1859.324804,962.407944
20171228,-7412.601909,-16293.749852,-5447.049996,-6528.134116,-3114.075791,-4450.727708,-9346.658446,NaN,-2609.377422,-2336.405989,...,NaN,-2441.274414,766.234594,994.045028,NaN,-3030.645322,-6143.511542,-1829.635138,1850.780768,1019.777018
20171229,-7427.939736,-16316.711800,-5447.619822,-6535.599946,-3115.692381,-4451.869913,-9352.074610,NaN,-2611.013454,-2333.988646,...,NaN,-2440.207319,771.476048,1024.156565,NaN,-3011.931262,-6143.705439,-1842.111113,1884.275234,1008.675902

In [17]:
alpha33=dv.add_formula('alpha33',"((((-1*Ts_Min(low,{}))+Delay(Ts_Min(low,{}),{}))*Rank(((Ts_Sum(Return(close,1),{})-Ts_Sum(Return(close,1),{}))/220)))*Ts_Rank(volume,{}))".format(5,5,5,240,20,5),is_quarterly=False,add_data=True)

In [18]:
dv.get_ts('alpha33').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,-448.00,-1621.44,0.0,-199.32,189.04,136.00,-1101.12,NaN,982.72,0.00,...,NaN,173.88,321.30,-3360.76,NaN,-21400.00,-183.30,11.34,-979.00,233.60
20171226,-1630.23,-534.72,0.0,-363.60,48.28,59.15,-280.09,NaN,1593.60,0.00,...,NaN,415.80,210.24,-2323.36,NaN,-20983.60,-43.71,14.94,3309.90,632.88
20171227,-1733.16,-2007.18,0.0,-291.84,89.10,19.68,129.24,NaN,1339.80,0.00,...,NaN,114.70,1082.25,-2604.42,NaN,-12818.24,-30.94,29.88,4838.40,999.60
20171228,-1679.60,-5145.39,0.0,-233.28,-88.20,-26.28,629.20,NaN,436.80,-17.55,...,NaN,-17.04,-778.40,-2610.00,NaN,-2629.12,-25.84,13.92,2920.32,1001.30
20171229,-415.72,-6137.82,0.0,-31.65,-33.00,-44.10,713.28,NaN,91.00,-5.22,...,NaN,-5.10,-234.15,-2605.36,NaN,-1969.10,-46.92,4.64,4910.40,600.78

In [19]:
alpha58=dv.add_formula('alpha58',"Ts_Sum(If(close>Delay(close,1),1,0),{})/{}*100".format(20,20),is_quarterly=False,add_data=True)

In [20]:
dv.get_ts('alpha58').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,40.0,50.0,0.0,70.0,45.0,50.0,50.0,NaN,40.0,50.0,...,60.0,45.0,45.0,65.0,55.0,55.0,55.0,45.0,55.0,45.0
20171226,45.0,55.0,0.0,70.0,45.0,50.0,50.0,NaN,40.0,50.0,...,55.0,45.0,45.0,65.0,55.0,55.0,60.0,45.0,50.0,40.0
20171227,40.0,55.0,0.0,65.0,45.0,45.0,50.0,NaN,35.0,50.0,...,55.0,45.0,45.0,60.0,55.0,55.0,55.0,45.0,45.0,40.0
20171228,40.0,55.0,0.0,60.0,45.0,50.0,55.0,NaN,40.0,45.0,...,55.0,40.0,45.0,60.0,60.0,50.0,60.0,50.0,45.0,40.0
20171229,45.0,60.0,0.0,60.0,50.0,55.0,55.0,NaN,45.0,50.0,...,55.0,45.0,45.0,60.0,55.0,55.0,65.0,50.0,45.0,35.0

In [21]:
alpha114=dv.add_formula('alpha114',"((Rank(Delay(((high-low)/(Ts_Sum(close,{})/{})),{}))*Rank(Rank(volume)))/(((high-low)/(Ts_Sum(close,{})/{}))/(vwap-close)))".format(5,5,2,5,5),is_quarterly=False,add_data=True)

In [22]:
dv.get_ts('alpha114').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,6.534085e+06,1.690277e+07,NaN,-1.996007e+05,5.322340e+05,8.337638e+05,2.260906e+06,NaN,1.265952e+06,66170.633455,...,-1.371818e+06,-2.931110e+05,285789.617647,-2.574576e+05,1.026697e+06,-2.144909e+06,3.039010e+06,8.785067e+05,-8.691809e+05,4.088476e+05
20171226,-2.470499e+06,-3.440720e+05,NaN,-1.408125e+06,-1.830092e+06,-1.762086e+06,-1.986431e+06,NaN,-2.404525e+04,-523417.910400,...,1.163559e+06,-1.240559e+06,-270158.983784,-7.628238e+05,3.662392e+04,-1.874649e+06,-8.145897e+05,-7.571885e+05,-3.209070e+06,-2.966353e+06
20171227,6.950518e+06,4.085191e+05,NaN,-4.536343e+05,1.249477e+06,1.328546e+06,4.031267e+06,NaN,4.066277e+05,98376.516000,...,-5.786473e+05,2.308638e+06,390661.303394,1.260087e+06,-7.930643e+05,6.036805e+05,-1.659970e+06,1.076841e+06,-1.977695e+06,1.064988e+05
20171228,3.671305e+05,-6.109901e+06,NaN,-1.610472e+06,1.750444e+05,-7.479044e+05,-1.736508e+06,NaN,1.240767e+06,56496.525000,...,1.271463e+06,1.403044e+06,467902.658571,1.218942e+06,-9.165618e+05,5.473273e+05,5.016410e+05,-1.946740e+05,-3.983166e+06,-2.495363e+06
20171229,-2.030061e+06,4.291458e+06,NaN,1.683052e+05,-1.661934e+05,1.193884e+06,-1.286813e+06,NaN,NaN,-45378.652500,...,4.633525e+05,-9.555012e+05,-111154.573913,-6.968362e+05,1.331446e+06,-3.242406e+06,-2.320471e+05,-3.270666e+05,-4.927754e+06,9.541820e+05

In [23]:
def SMA(A,n,m):
    alpha = m/n
    return A.ewm(alpha=alpha, adjust=False).mean()

alpha173=dv.add_formula('alpha173',"-1*(3*SMA(close,{},{})-2*SMA(SMA(close,{},{}),{},{})+SMA(SMA(SMA(Log(close),{},{}),{},{}),{},{}))".format(13,2,13,2,13,2,13,2,13,2,13,2),is_quarterly=False,add_data=True,register_funcs={"SMA":SMA})

In [24]:
alpha173.tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,-15.880843,-32.804024,-12.137561,-10.580282,-9.041408,-10.079070,-11.996340,NaN,-41.687995,-7.873605,...,-128.635621,-52.595467,-42.400258,-80.298581,-30.029426,-66.714452,-17.582227,-26.838947,-28.637368,-8.299409
20171226,-16.043889,-33.170495,-12.137548,-10.699432,-9.045327,-10.080786,-11.982778,NaN,-41.551267,-7.873189,...,-128.034453,-53.098225,-42.490320,-80.441832,-29.656967,-67.882390,-17.690590,-26.766850,-28.457982,-8.263449
20171227,-16.012204,-33.570284,-12.137536,-10.776959,-9.055219,-10.055264,-11.833047,NaN,-41.430872,-7.860455,...,-127.163102,-53.079534,-42.419950,-79.854716,-29.557656,-67.771101,-17.652874,-26.491132,-28.151944,-8.296519
20171228,-15.953181,-33.834017,-12.137527,-10.809760,-9.056933,-10.058590,-11.821794,NaN,-41.372534,-7.846756,...,-125.796381,-53.022893,-42.344042,-79.544957,-29.881914,-67.317553,-17.703966,-26.448293,-27.885955,-8.510198
20171229,-15.944506,-34.178471,-12.137519,-10.870551,-9.081271,-10.174623,-11.903531,NaN,-41.373101,-7.849021,...,-125.130272,-53.122032,-42.351277,-80.100726,-30.052105,-67.804009,-17.934419,-26.453766,-27.964216,-8.618689

In [25]:
id_hs300 = dp.daily_index_cons(api, "000300.SH", start, end)
id_zz500 = dp.daily_index_cons(api, "000905.SH", start, end)

columns_500 = list(set(id_zz500.columns)-set(id_hs300.columns))

In [26]:
import pandas as pd
id_member = pd.concat([id_zz500[columns_500],id_hs300],axis=1)

In [27]:
mask = ~id_member

In [28]:
import numpy as np

# 定义可买卖条件——未停牌、未涨跌停
def limit_up_down():
    trade_status = dv.get_ts('trade_status').fillna(0)
    mask_sus = trade_status == 0
    # 涨停
    up_limit = dv.add_formula('up_limit', '(close - Delay(close, 1)) / Delay(close, 1) > 0.095', is_quarterly=False)
    # 跌停
    down_limit = dv.add_formula('down_limit', '(close - Delay(close, 1)) / Delay(close, 1) < -0.095', is_quarterly=False)
    can_enter = np.logical_and(up_limit < 1, ~mask_sus) # 未涨停未停牌
    can_exit = np.logical_and(down_limit < 1, ~mask_sus) # 未跌停未停牌
    return can_enter,can_exit

In [29]:
can_enter,can_exit = limit_up_down()

In [30]:
import numpy as np

alpha_signal = ['LongDebtToWorkingCapital_J','OperCashGrowRate_J','Kurtosis120','Beta252','alpha33','alpha58','alpha114','alpha173']
price = dv.get_ts('close_adj')
sw1 = sw1_name
enter = can_enter
exit =  can_exit
mask = mask

In [31]:
from jaqs_fxdayu.research.signaldigger.process import neutralize

neutralize_dict = {a: neutralize(factor_df = dv.get_ts(a), group = dv.get_ts("sw1")) for a in alpha_signal}

In [32]:
import matplotlib.pyplot as plt
from jaqs_fxdayu.research import SignalDigger
from jaqs_fxdayu.research.signaldigger import analysis

def cal_obj(signal, name, period, quantile):
#     price_bench = dv.data_benchmark
    obj = SignalDigger(output_folder="hs300/%s" % name,
                       output_format='pdf')
    obj.process_signal_before_analysis(signal,
                                   price=price,
                                   n_quantiles=quantile, period=period,
                                   mask=mask,
                                   group=sw1,
                                   can_enter = enter,
                                   can_exit = exit,
                                   commission = 0.0008
                                   )
    obj.create_full_report()
    return obj

def plot_pfm(signal, name, period=5, quantile=5):
    obj = cal_obj(signal, name, period, quantile)
    plt.show()
def signal_data(signal, name, period=5, quantile=5):
    obj = cal_obj(signal, name, period, quantile)
    return obj.signal_data

In [33]:
signals_dict = {a:signal_data(neutralize_dict[a], a, 20) for a in alpha_signal}

Nan Data Count (should be zero) : 0;  Percentage of effective data: 51%


Value of signals of Different Quantiles Statistics
                  min          max       mean         std   count    count %
quantile
1        -1804.062982    -0.276833 -14.284264   68.608693  150708  20.063930
2           -2.082416     0.138233  -0.481136    0.293750  150226  19.999760
3           -0.672185     1.125302   0.052939    0.240579  150234  20.000825
4           -0.332831     8.864658   0.926219    0.895808  150226  19.999760
5            0.491896  6546.714154  21.593831  154.935729  149745  19.935724
Figure saved: C:\Users\root\云实习作业\hs300\LongDebtToWorkingCapital_J\returns_report.pdf
Information Analysis
                ic
IC Mean     -0.001
IC Std.      0.069
t-stat(IC)  -0.648
p-value(IC)  0.517
IC Skew      0.416
IC Kurtosis  0.785
Ann. IR     -0.019
Figure saved: C:\Users\root\云实习作业\hs300\LongDebtToWorkingCapital_J\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 50%


Value of signals of Different Quantiles Statistics
                  min           max       mean         std   count    count %
quantile
1        -2091.247807  2.220446e-16 -22.330176   87.969429  149566  20.059549
2           -8.765603  6.085018e+00  -1.072022    0.858921  149143  20.002816
3           -1.165492  8.298806e+00   0.180203    0.398865  149108  19.998122
4           -0.093089  9.941973e+00   1.479178    0.795929  149143  20.002816
5            0.830726  4.521429e+03  22.510871  115.356492  148650  19.936696
Figure saved: C:\Users\root\云实习作业\hs300\OperCashGrowRate_J\returns_report.pdf
Information Analysis
                 ic
IC Mean      -0.001
IC Std.       0.074
t-stat(IC)   -0.237
p-value(IC)   0.813
IC Skew      -2.877
IC Kurtosis  32.658
Ann. IR      -0.007
Figure saved: C:\Users\root\云实习作业\hs300\OperCashGrowRate_J\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 50%


Value of signals of Different Quantiles Statistics
                   min           max          mean           std   count  \
quantile
1        -1.127888e+18 -1.979276e+00 -4.625357e+15  2.129564e+16  148768
2        -7.437630e+13 -1.107730e+00 -3.614959e+10  7.271185e+11  148341
3        -1.041469e+01  7.066137e-01 -3.761831e+00  2.128437e+00  148317
4        -6.457185e+00  6.832706e+12  6.448513e+08  6.637540e+10  148341
5        -1.627230e+00  1.474749e+17  1.292244e+15  6.303477e+15  147877

            count %
quantile
1         20.059220
2         20.001645
3         19.998409
4         20.001645
5         19.939081
Figure saved: C:\Users\root\云实习作业\hs300\Kurtosis120\returns_report.pdf
Information Analysis
                ic
IC Mean     -0.012
IC Std.      0.080
t-stat(IC)  -5.232
p-value(IC)  0.000
IC Skew      0.068
IC Kurtosis  0.268
Ann. IR     -0.157
Figure saved: C:\Users\root\云实习作业\hs300\Kurtosis120\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 41%


Value of signals of Different Quantiles Statistics
                   min            max         mean          std   count  \
quantile
1        -26645.686564     -20.957965  -955.773710  2265.775548  122953
2         -3380.449682       0.184304  -316.446857   678.075779  122574
3         -1368.576222     710.394765   -49.177945   213.709752  122560
4            13.272101    2699.719686   240.529234   488.669615  122574
5            37.941220  132196.442654  1101.652781  5615.207500  122180

            count %
quantile
1         20.062790
2         20.000946
3         19.998662
4         20.000946
5         19.936656
Figure saved: C:\Users\root\云实习作业\hs300\Beta252\returns_report.pdf
Information Analysis
                ic
IC Mean     -0.000
IC Std.      0.064
t-stat(IC)  -0.195
p-value(IC)  0.845
IC Skew     -0.081
IC Kurtosis -0.001
Ann. IR     -0.006
Figure saved: C:\Users\root\云实习作业\hs300\Beta252\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 44%


Value of signals of Different Quantiles Statistics
                    min            max         mean           std   count  \
quantile
1        -720421.431538    -115.095882 -4486.667841  10750.847371  130463
2         -13042.813243    2961.036757  -655.448328    892.490572  130061
3         -10044.062564    6072.747209   -46.025615    581.898323  130044
4          -7099.842564    9640.578571   499.361900    666.575022  130061
5          -2866.141216  513624.997308  3512.602014   9304.507206  129633

            count %
quantile
1         20.063144
2         20.001323
3         19.998708
4         20.001323
5         19.935503
Figure saved: C:\Users\root\云实习作业\hs300\alpha33\returns_report.pdf
Information Analysis
                 ic
IC Mean       0.026
IC Std.       0.079
t-stat(IC)   10.165
p-value(IC)   0.000
IC Skew       0.195
IC Kurtosis   0.156
Ann. IR       0.323
Figure saved: C:\Users\root\云实习作业\hs300\alpha33\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 54%


Value of signals of Different Quantiles Statistics
                min        max       mean       std   count    count %
quantile
1        -57.763158   4.062500 -11.115598  7.057346  160614  20.060701
2         -8.750000   9.027778  -2.090657  2.338184  160127  19.999875
3         -3.200000  11.785714   2.563869  2.125273  160119  19.998876
4          1.451613  16.263158   7.137762  2.201424  160127  19.999875
5          6.379310  47.733333  14.589589  4.467500  159653  19.940672
Figure saved: C:\Users\root\云实习作业\hs300\alpha58\returns_report.pdf
Information Analysis
                ic
IC Mean     -0.007
IC Std.      0.080
t-stat(IC)  -3.159
p-value(IC)  0.002
IC Skew     -0.182
IC Kurtosis  0.199
Ann. IR     -0.091
Figure saved: C:\Users\root\云实习作业\hs300\alpha58\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 51%


Value of signals of Different Quantiles Statistics
                   min           max          mean           std   count  \
quantile
1        -1.585655e+08 -1.921305e+05 -2.235723e+06  2.264373e+06  150314
2        -3.110980e+06  3.168608e+05 -4.678147e+05  3.279382e+05  149850
3        -1.577455e+06  1.106451e+06  2.466717e+04  2.567506e+05  149840
4        -4.445880e+05  2.461685e+06  5.176849e+05  2.993213e+05  149850
5         2.438596e+05  9.882849e+07  2.201361e+06  2.092636e+06  149329

            count %
quantile
1         20.063723
2         20.001789
3         20.000454
4         20.001789
5         19.932246
Figure saved: C:\Users\root\云实习作业\hs300\alpha114\returns_report.pdf
Information Analysis
                ic
IC Mean      0.014
IC Std.      0.082
t-stat(IC)   6.072
p-value(IC)  0.000
IC Skew      0.207
IC Kurtosis  0.586
Ann. IR      0.176
Figure saved: C:\Users\root\云实习作业\hs300\alpha114\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 54%


Value of signals of Different Quantiles Statistics
                 min        max       mean        std   count    count %
quantile
1        -692.800322  -2.667089 -18.596687  26.822227  160627  20.060822
2         -10.823961   1.829306  -2.135914   1.990340  160136  19.999500
3          -3.618820   7.200674   2.206695   1.120145  160131  19.998876
4           0.325280  14.222572   5.664439   1.478010  160136  19.999500
5           5.560842  60.750318  12.250881   4.818196  159670  19.941301
Figure saved: C:\Users\root\云实习作业\hs300\alpha173\returns_report.pdf
Information Analysis
                 ic
IC Mean       0.036
IC Std.       0.110
t-stat(IC)   11.220
p-value(IC)   0.000
IC Skew      -0.009
IC Kurtosis  -0.453
Ann. IR       0.325

Figure saved: C:\Users\root\云实习作业\hs300\alpha173\information_report.pdf

In [34]:
ic_pn = pd.Panel({a: analysis.ic_stats(signals_dict[a]) for a in signals_dict.keys()})

In [35]:
alpha_performance = round(ic_pn.minor_xs('return_ic'),2)
print(alpha_performance)

             Beta252  Kurtosis120  LongDebtToWorkingCapital_J  \
IC Mean        -0.00        -0.01                       -0.00
IC Std.         0.06         0.08                        0.07
t-stat(IC)     -0.20        -5.23                       -0.65
p-value(IC)     0.85         0.00                        0.52
IC Skew        -0.08         0.07                        0.42
IC Kurtosis    -0.00         0.27                        0.78
Ann. IR        -0.01        -0.16                       -0.02

             OperCashGrowRate_J  alpha114  alpha173  alpha33  alpha58
IC Mean                   -0.00      0.01      0.04     0.03    -0.01
IC Std.                    0.07      0.08      0.11     0.08     0.08
t-stat(IC)                -0.24      6.07     11.22    10.16    -3.16
p-value(IC)                0.81      0.00      0.00     0.00     0.00
IC Skew                   -2.88      0.21     -0.01     0.20    -0.18
IC Kurtosis               32.66      0.59     -0.45     0.16     0.20
Ann. IR                   -0.01      0.18      0.32     0.32    -0.09

In [36]:
alpha_IR = alpha_performance.loc["Ann. IR"]
alpha_IC = alpha_performance.loc["IC Mean"]

In [37]:
good_alpha = alpha_IC[(alpha_IC>=0.03) & (alpha_IR>=0.25)]

In [38]:
good_alpha_dict = {g: float('%.2f' % good_alpha[g]) for g in good_alpha.index}

In [39]:
good_alpha_dict

{'alpha173': 0.04, 'alpha33': 0.03}

In [40]:
signal_dict = {alpha : signal_data(dv.get_ts(alpha), alpha, period=20, quantile=5) for alpha in good_alpha.index}

Nan Data Count (should be zero) : 0;  Percentage of effective data: 54%


Value of signals of Different Quantiles Statistics
                 min        max       mean        std   count    count %
quantile
1        -743.408198 -15.547114 -39.978927  29.273474  160627  20.060822
2         -48.772399 -10.614991 -20.469625   5.113323  160136  19.999500
3         -34.129790  -7.874527 -14.651558   3.748992  160131  19.998876
4         -26.324749  -5.887151 -10.675883   2.741945  160136  19.999500
5         -18.089873  -1.200872  -6.665255   2.210575  159670  19.941301
Figure saved: C:\Users\root\云实习作业\hs300\alpha173\returns_report.pdf
Information Analysis
                ic
IC Mean      0.040
IC Std.      0.188
t-stat(IC)   7.285
p-value(IC)  0.000
IC Skew      0.102
IC Kurtosis -0.951
Ann. IR      0.211
Figure saved: C:\Users\root\云实习作业\hs300\alpha173\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 44%


Value of signals of Different Quantiles Statistics
                min        max         mean           std   count    count %
quantile
1        -721456.00    1560.00 -3629.189628  11108.142973  130463  20.063144
2         -15045.52    4179.00  -335.547832    782.654235  130061  20.001323
3          -4857.24    8642.40     7.267385    681.258624  130044  19.998708
4          -2223.18   17077.10   334.921864   1207.389442  130061  20.001323
5           -800.80  519046.56  2893.437501  10059.305721  129633  19.935503
Figure saved: C:\Users\root\云实习作业\hs300\alpha33\returns_report.pdf
Information Analysis
                ic
IC Mean      0.040
IC Std.      0.132
t-stat(IC)   9.635
p-value(IC)  0.000
IC Skew      0.213
IC Kurtosis  0.289
Ann. IR      0.306
Figure saved: C:\Users\root\云实习作业\hs300\alpha33\information_report.pdf

In [41]:
def ic_length(signal, days=750):
    return signal.loc[signal.index.levels[0][-days]:]

In [42]:
from jaqs.research.signaldigger import performance as pfm

performance_dict = {}
for alpha in good_alpha.index:
    ic = pfm.calc_signal_ic(ic_length(signal_dict[alpha]), by_group=True)
    mean_ic_by_group = pfm.mean_information_coefficient(ic, by_group=True)
    performance_dict[alpha] = round(mean_ic_by_group,2)

In [43]:
ic_industry = pd.Panel(performance_dict).minor_xs('ic')

In [44]:
High_IC_Industry = pd.DataFrame([ic_industry[ic_industry>=0.05][alpha].dropna(how='all') for alpha in good_alpha.index]).T

In [45]:
alpha33 = pd.Series({'name':'alpha33','data': ['close','volume'] ,'IC':good_alpha_dict['alpha33'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'((((-1*Ts_Min(low,{}))+Delay(Ts_Min(low,{}),{}))*Rank(((Ts_Sum(Return(close,1),{})-Ts_Sum(Return(close,1),{}))/220)))*Ts_Rank(volume,{}))','parameter':[5,5,5,240,20,5],'description':'5至10日前最低价与5日内最低价的差乘以20至240日前的平均收益率再乘以今日成交量在过去5日的顺序排位','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['alpha33'][indu]) for indu in High_IC_Industry['alpha33'].dropna().index}})

In [46]:
alpha173 = pd.Series({'name':'alpha173','data': ['close'] ,'IC':good_alpha_dict['alpha173'],'type':'价格类','market':'ZZ800','classify':'sw1','Formula':'-1*(3*SMA(close,{},{})-2*SMA(SMA(close,{},{}),{},{})+SMA(SMA(SMA(Log(close),{},{}),{},{}),{},{}))','parameter':[13,2,13,2,13,2,13,2,13,2,13,2],'description':'收盘价的权重参数为2的13日移动平均线乘以3减去收盘价的权重参数为2的13日两重移动平均线加上收盘价的对数的权重参数为2的三重13日移动平均线','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['alpha173'][indu]) for indu in High_IC_Industry['alpha173'].dropna().index}})

In [47]:
save_excel = pd.concat([globals()[name] for name in High_IC_Industry.columns],axis=1,keys=High_IC_Industry.columns).T

In [48]:
save_excel

,Formula,High_IC_Industry,IC,classify,data,description,market,name,parameter,type
alpha173,"-1*(3*SMA(close,{},{})-2*SMA(SMA(close,{},{}),...","{'传媒': 0.06, '化工': 0.05, '商业贸易': 0.07, '国防军工':...",0.04,sw1,[close],收盘价的权重参数为2的13日移动平均线乘以3减去收盘价的权重参数为2的13日两重移动平均线加...,ZZ800,alpha173,"[13, 2, 13, 2, 13, 2, 13, 2, 13, 2, 13, 2]",价格类
alpha33,"((((-1*Ts_Min(low,{}))+Delay(Ts_Min(low,{}),{}...","{'传媒': 0.06, '公用事业': 0.05, '商业贸易': 0.06, '国防军工...",0.03,sw1,"[close, volume]",5至10日前最低价与5日内最低价的差乘以20至240日前的平均收益率再乘以今日成交量在过去5...,ZZ800,alpha33,"[5, 5, 5, 240, 20, 5]",价量类

In [49]:
save_excel.to_excel('Fuxian_alpha.xlsx')