In [1]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi

start = 20130101
end = 20180101

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("18876299997", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MjMzODAzMDM4MDUiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTg4NzYyOTk5OTcifQ.NtIUbj4GEXvM5by21cNujEpqxkVeP3CdqRIDEuzZswQ'
)

ZZ800_id = dp.index_cons(api, "000906.SH", start, end)

stock_symbol = list(set(ZZ800_id.symbol.values))

In [2]:
import jaqs_fxdayu
jaqs_fxdayu.patch_all()
from jaqs.data import DataView
from jaqs.data import RemoteDataService
from jaqs_fxdayu.data.dataservice import LocalDataService
import os
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

dataview_folder = 'F:/data'
dv = DataView()
ds = LocalDataService(fp=dataview_folder)


factor_list = ['volume']
check_factor = ','.join(factor_list)

dv_props = {'start_date': start, 'end_date': end, 'symbol':','.join(stock_symbol),
         'fields': check_factor,
         'freq': 1,
         "prepare_fields": True}

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

E:\pypy\lib\importlib\__init__.py:126: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  return _bootstrap._gcd_import(name[level:], package, level)
E:\pypy\lib\site-packages\matplotlib\__init__.py:1405: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'volume,vwap_adj,low_adj,open,close,close_adj,high_adj,high,vwap,trade_status,open_adj,trade_date,symbol,low'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'open,close,high,vwap,low,symbol,trade_date'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

In [3]:
import scipy.stats as scst
import jaqs.util as jutill


def spearman_factor(factor_u='factor_u', factor_j='factor_j', start=20160101, symbol=stock_symbol):
    factors = dict()
    factors["factor_u"] = dv.get_ts(factor_u).loc[start:][stock_symbol].stack()
    factors["factor_j"] = dv.get_ts(factor_j).loc[start:][stock_symbol].stack()

    factors_df = pd.concat(factors.values(),axis=1)
    factors_df.columns = factors.keys()
    factors_df = jutill.fillinf(factors_df).dropna()

    # 两个因子的spearman相关性
    def get_factors_daily_corr(factors_df,
                               f1="factor_u",
                               f2="factor_j"):
        def _cal_corr(df):
            return scst.spearmanr(df[f1], df[f2])[0]

        result = factors_df.groupby(['trade_date']).apply(_cal_corr)
        result = pd.DataFrame(result)
        result.columns = ['spearmanr']
        return result

    result = get_factors_daily_corr(factors_df,"factor_u","factor_j")
    t_stat, p_value = scst.ttest_1samp(result, 0)
    return result.mean(), p_value # 相关关系均值,相关关系均值的ｔ统计量的p_value

In [4]:
dv.add_field('tot_non_cur_liab',ds)
dv.add_field('tot_cur_assets',ds)
dv.add_field('tot_cur_liab',ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.

True

In [5]:
LongDebtToWorkingCapital=dv.add_formula('LongDebtToWorkingCapital_J',"tot_non_cur_liab/(tot_cur_assets-tot_cur_liab)",is_quarterly=True,add_data=True)

In [6]:
dv.add_field('LongDebtToWorkingCapital',ds)

Query data - query...
当前请求query...
{'fields': 'LongDebtToWorkingCapital', 'view': 'factor'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.

True

In [7]:
print(spearman_factor(factor_u='LongDebtToWorkingCapital', factor_j='LongDebtToWorkingCapital_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.999945
dtype: float64, array([ 0.]))

In [8]:
dv.get_ts('LongDebtToWorkingCapital_J').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313
20171226,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313
20171227,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313
20171228,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313
20171229,NaN,0.685926,0.281557,0.033184,0.764981,-1.291758,0.155327,NaN,0.524256,-4.326043,...,0.059637,0.201006,0.020287,0.029569,0.180254,1.124478,-8.850842,0.227702,0.069025,1.647313

In [9]:
dv.add_field('net_cash_flows_oper_act',ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.

True

In [10]:
OperCashGrowRate=dv.add_formula('OperCashGrowRate_J',"(TTM(net_cash_flows_oper_act)/Delay(TTM(net_cash_flows_oper_act),4))-1",is_quarterly=True,add_data=True)

In [11]:
dv.add_field('OperCashGrowRate',ds)

Query data - query...
当前请求query...
{'fields': 'OperCashGrowRate', 'view': 'factor'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.

True

In [12]:
print(spearman_factor(factor_u='OperCashGrowRate', factor_j='OperCashGrowRate_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.940514
dtype: float64, array([ 0.]))

In [13]:
dv.get_ts('OperCashGrowRate_J').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786
20171226,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786
20171227,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786
20171228,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786
20171229,-1.024089,-0.79147,-0.396401,NaN,-0.975301,0.216013,0.312869,NaN,-0.183644,-0.142601,...,0.043907,-0.132789,-0.093961,0.425713,0.091373,0.839966,0.122172,-0.60596,0.09778,13.059786

In [14]:
Kurtosis120=dv.add_formula('Kurtosis120',"Ts_Kurtosis(Return(close,1),120)",is_quarterly=False,add_data=True)

In [15]:
dv.get_ts('Kurtosis120').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,1.701927,2.961635,8.814589,2.724256,4.093874,6.802518,0.645553,NaN,5.096337,8.234484,...,2.287562,3.816713,3.171751,1.332003,1.862959,2.073009,3.193973,6.037637,0.918960,0.248528
20171226,1.580301,3.039489,8.967603,2.535057,4.129736,6.689147,0.639011,NaN,5.297702,8.258968,...,2.218275,3.648602,3.165961,1.433713,1.850950,1.984009,3.039888,5.828095,0.923352,0.299029
20171227,1.490741,3.143006,9.191304,2.534300,4.321838,6.737704,0.550171,NaN,5.365913,8.229912,...,2.271403,3.495693,3.144500,1.414940,1.898012,1.801155,2.932961,5.818500,0.880928,0.396211
20171228,1.485747,3.159335,9.637825,2.593390,4.322607,6.719070,0.496131,NaN,5.373502,8.248609,...,2.248776,3.500020,3.176481,1.451763,1.809439,1.761720,2.862703,5.740148,0.879925,0.230942
20171229,1.487081,3.189389,9.637825,2.544470,4.461890,6.365234,0.449110,NaN,5.506382,8.189272,...,2.286083,3.541994,3.199700,1.379281,1.802631,1.714164,2.638174,5.730142,0.774784,0.301229

In [22]:
dv.func_doc.doc

,分类,说明,公式,示例
0,四则运算,加法运算,+,close + open
1,四则运算,减法运算,-,close - open
2,四则运算,乘法运算,*,vwap * volume
3,四则运算,除法运算,/,close / open
4,基本数学函数,"符号函数，返回值为{-1, 0, 1}",Sign(x),Sign(close-open)
5,基本数学函数,绝对值函数,Abs(x),Abs(close-open)
6,基本数学函数,自然对数,Log(x),Log(close/open)
7,基本数学函数,对x取负,-x,-close
8,基本数学函数,幂函数,^,close ^ 2
9,基本数学函数,幂函数x^y,"Pow(x,y)","Pow(close,2)"
10,基本数学函数,保持符号的幂函数，等价于Sign(x) * (Abs(x)^e),"SignedPower(x,e)","SignedPower(close-open, 0.5)"
11,基本数学函数,取余函数,%,oi % 10
12,逻辑运算,判断是否相等,==,close == open
13,逻辑运算,判断是否不等,!=,close != open
14,逻辑运算,大于,>,close > open
15,逻辑运算,小于,<,close < open
16,逻辑运算,大于等于,>=,close >= open
17,逻辑运算,小于等于,<=,close <= open
18,逻辑运算,逻辑与,&&,(close > open) && (close > vwap)
19,逻辑运算,逻辑或,||,(close > open) || (close > vwap)
20,逻辑运算,逻辑非,!,!(close>open)
21,逻辑运算,判断值是否为NaN,IsNan(x),IsNan(net_profit)
22,三角函数,正弦函数,Sin(x),Sin(close/open)
23,三角函数,余弦函数,Cos(x),Cos(close/open)
24,三角函数,正切函数,Tan(x),Tan(close/open)
25,三角函数,开平方函数,Sqrt(x),Sqrt(close^2 + open^2)
26,取整函数,向上取整,Ceil(x),Ceil(high)
27,取整函数,向下取整,Floor(x),Floor(low)
28,取整函数,四舍五入,Round(x),Round（close）
29,选择函数,取 x 和 y 同位置上的较大值组成新的DataFrame返回,"Max(x,y)","Max(close, open)"
...,...,...,...,...
38,时间序列函数 - 统计,指标在过去n天的标准差,"StdDev(x,n)","StdDev(close/Delay(close,1)-1, 10)"
39,时间序列函数 - 统计,两个指标在过去n天的协方差,"Covariance(x,y,n)","Covariance(close, open, 10)"
40,时间序列函数 - 统计,两个指标在过去n天的相关系数,"Correlation(x,y,n)","Correlation(close,open, 10)"
41,时间序列函数 - 统计,计算指标在过去n天的最小值,Ts_Min(x，n),Ts_Min(close，5)
42,时间序列函数 - 统计,计算指标在过去n天的最大值,Ts_Max(x，n),Ts_Max(close，5)
43,时间序列函数 - 统计,计算指标在过去n天的偏度,Ts_Skewness(x，n),Ts_Skewness(close，20)
44,时间序列函数 - 统计,计算指标在过去n天的峰度,Ts_Kurtosis(x，n),Ts_Kurtosis(close，20)
45,时间序列函数 - 排名,计算指标在过去n天的排名，返回值为名次,"Ts_Rank(x, n)","Ts_Rank(close, 5)"
46,时间序列函数 - 排名,"计算指标在过去n天的百分比，返回值为[0.0, 1.0]","Ts_Percentile(x, n)","Ts_Percentile(close, 5)"
47,时间序列函数 - 排名,计算指标在过去n天所属的quantile，返回值为表示quantile的整数,"Ts_Quantile(x, n)","Ts_Quantile(close, 5)"
48,时间序列函数 - 排名,指数移动平均，以halflife的衰减对x进行指数移动平均,"Ewma(x, halflife)","Ewma(x, 3)"
49,横截面函数 - 排名,将指标值在横截面方向排名，返回值为名次,Rank(x),"Rank( close/Delay(close,1)-1 ) 表示按日收益率进行排名"
50,横截面函数 - 排名,按分组数据g在每组内将指标值在横截面方向排名，返回值为名次,"GroupRank(x,g)","GroupRank(close/Delay(close,1)-1, g) 表示按分组g根据日..."
51,横截面函数 - 排名,将指标值在横截面方向排名，返回值为排名百分比,Percentile(x),Percentile(close)
52,横截面函数 - 排名,按分组数据g在每组内将指标值在横截面方向排名，返回值为排名百分比,"GroupPercentile(x, g, n)","GroupPercentile(close, sw1) 按申万1级行业"
53,横截面函数 - 排名,和Rank函数相同，但只有 cond 中值为True的标的参与排名,"ConditionRank(x, cond)","GroupRank(close/Delay(close,1)-1, cond) 表示按条件c..."
54,横截面函数 - 排名,根据指标值在横截面方向将标的分成n个quantile，返回值为所属quantile,"Quantile(x, n)","Quantile( close/Delay(close,1)-1,5)表示按日收益率分为5档"
55,横截面函数 - 排名,按分组数据g在每组内根据指标值在横截面方向将标的分成n个quantile，返回值为所属qua...,"GroupQuantile(x, g, n)","GroupQuantile(close/Delay(close,1)-1,g,5) 表示按日..."
56,横截面函数 - 数据处理,将指标标准化，即在横截面上减去平均值后再除以标准差,Standardize(x),"Standardize(close/Delay(close,1)-1) 表示日收益率的标准化"
57,横截面函数 - 数据处理,将指标横截面上去极值，用MAD (Maximum Absolute Deviation)方法...,"Cutoff(x, z_score)","Cutoff(close,3) 表示去掉z_score大于3的极值"
58,财报函数,将累计财务数据转换为单季财务数据,CumToSingle(x),CumToSingle(net_profit)
59,财报函数,从累计财务数据计算TTM的财务数据,TTM(x),TTM(net_profit)
60,其他,过去 n 天的指数衰减函数，其中 f 是平滑因子。这里 f 是平滑因子，可以赋一个小于 1 ...,"Decay_exp(x,f,n)","Decay_exp(close,0.9,10)"
61,其他,"过去n天的线性衰减函数。Decay_linear(x, n) = (x[date] * n ...","Decay_linear(x,n)","Decay_linear(close,15)"
62,其他,如果 x 的值介于 lower 和 upper，则将其设定为 newval,"Tail(x, lower, upper, newval)","Tail(close/open, 0.99, 1.01, 1.0)"
63,其他,Step(n) 为每个标的创建一个向量，向量中 n 代表最新日期，n-1 代表前一天，以此类推。,Step(n),Step(30)
64,其他,时间序列函数，计算 x 中的值在过去 n 天中为 nan （非数字）的次数,"CountNans(x,n)","CountNans((close-open)^0.5, 10) 表示过去10天内有几天clo..."
65,时间序列函数 - 统计,计算指标在过去n天最大值的坐标,"Ts_Argmax(x,n)","Ts_Argmax(high,10)"
66,时间序列函数 - 统计,计算指标在过去n天最小值的坐标,"Ts_Argmin(x,n)","Ts_Argmin(low,10)"
67,技术指标,根据talib技术指标库计算x中每只股票的技术指标,"Ta(ta_method,ta_column,open,high,low,close,vol...","Ta('MACD','macdsignal',open,high,low,close,vol..."

In [23]:
dv.func_doc.funcs

array(['+', '-', '*', '/', 'Sign(x)', 'Abs(x)', 'Log(x)', '-x', '^',
       'Pow(x,y)', 'SignedPower(x,e)', '%', '==', '!=', '>', '<', '>=',
       '<=', '&&', '||', '!', 'IsNan(x)', 'Sin(x)', 'Cos(x)', 'Tan(x)',
       'Sqrt(x)', 'Ceil(x)', 'Floor(x)', 'Round(x)', 'Max(x,y)',
       'Min(x,y)', 'If(cond,x,y)', 'Delay(x,n)', 'Ts_Sum(x,n)',
       'Ts_Product(x,n)', 'Delta(x,n)', 'Return(x,n,log)', 'Ts_Mean(x，n)',
       'StdDev(x,n)', 'Covariance(x,y,n)', 'Correlation(x,y,n)',
       'Ts_Min(x，n)', 'Ts_Max(x，n)', 'Ts_Skewness(x，n)',
       'Ts_Kurtosis(x，n)', 'Ts_Rank(x, n)', 'Ts_Percentile(x, n)',
       'Ts_Quantile(x, n)', 'Ewma(x, halflife)', 'Rank(x)',
       'GroupRank(x,g)', 'Percentile(x)', 'GroupPercentile(x, g, n)',
       'ConditionRank(x, cond)', 'Quantile(x, n)',
       'GroupQuantile(x, g, n)', 'Standardize(x)', 'Cutoff(x, z_score)',
       'CumToSingle(x)', 'TTM(x)', 'Decay_exp(x,f,n)', 'Decay_linear(x,n)',
       'Tail(x, lower, upper, newval)', 'Step(n)', 'CountNans(x,n)',
       'Ts_Argmax(x,n)', 'Ts_Argmin(x,n)',
       'Ta(ta_method,ta_column,open,high,low,close,volume,*args)'], dtype=object)

In [16]:
alpha33=dv.add_formula('alpha33',"((((-1*Ts_Min(low,{}))+Delay(Ts_Min(low,{}),{}))*Rank(((Ts_Sum(Return(close,1),{})-Ts_Sum(Return(close,1),{}))/220)))*Ts_Rank(volume,{}))".format(5,5,5,240,20,5),is_quarterly=False,add_data=True)

In [17]:
alpha33.tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,-448.00,-1621.44,0.0,-199.32,189.04,136.00,-1101.12,NaN,982.72,0.00,...,NaN,173.88,321.30,-3360.76,NaN,-21400.00,-183.30,11.34,-979.00,233.60
20171226,-1630.23,-534.72,0.0,-363.60,48.28,59.15,-280.09,NaN,1593.60,0.00,...,NaN,415.80,210.24,-2323.36,NaN,-20983.60,-43.71,14.94,3309.90,632.88
20171227,-1733.16,-2007.18,0.0,-291.84,89.10,19.68,129.24,NaN,1339.80,0.00,...,NaN,114.70,1082.25,-2604.42,NaN,-12818.24,-30.94,29.88,4838.40,999.60
20171228,-1679.60,-5145.39,0.0,-233.28,-88.20,-26.28,629.20,NaN,436.80,-17.55,...,NaN,-17.04,-778.40,-2610.00,NaN,-2629.12,-25.84,13.92,2920.32,1001.30
20171229,-415.72,-6137.82,0.0,-31.65,-33.00,-44.10,713.28,NaN,91.00,-5.22,...,NaN,-5.10,-234.15,-2605.36,NaN,-1969.10,-46.92,4.64,4910.40,600.78

In [26]:
alpha58=dv.add_formula('alpha58',"Ts_Sum(If(close>Delay(close,1),1,0),{})/{}*100".format(20,20),is_quarterly=False,add_data=True)

In [27]:
alpha58.tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,40.0,50.0,0.0,70.0,45.0,50.0,50.0,NaN,40.0,50.0,...,60.0,45.0,45.0,65.0,55.0,55.0,55.0,45.0,55.0,45.0
20171226,45.0,55.0,0.0,70.0,45.0,50.0,50.0,NaN,40.0,50.0,...,55.0,45.0,45.0,65.0,55.0,55.0,60.0,45.0,50.0,40.0
20171227,40.0,55.0,0.0,65.0,45.0,45.0,50.0,NaN,35.0,50.0,...,55.0,45.0,45.0,60.0,55.0,55.0,55.0,45.0,45.0,40.0
20171228,40.0,55.0,0.0,60.0,45.0,50.0,55.0,NaN,40.0,45.0,...,55.0,40.0,45.0,60.0,60.0,50.0,60.0,50.0,45.0,40.0
20171229,45.0,60.0,0.0,60.0,50.0,55.0,55.0,NaN,45.0,50.0,...,55.0,45.0,45.0,60.0,55.0,55.0,65.0,50.0,45.0,35.0

In [28]:
alpha114=dv.add_formula('alpha114',"((Rank(Delay(((high-low)/(Ts_Sum(close,{})/{})),{}))*Rank(Rank(volume)))/(((high-low)/(Ts_Sum(close,{})/{}))/(vwap-close)))".format(5,5,2,5,5),is_quarterly=False,add_data=True)

In [29]:
alpha114.tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,6.534085e+06,1.690277e+07,NaN,-1.996007e+05,5.322340e+05,8.337638e+05,2.260906e+06,NaN,1.265952e+06,66170.633455,...,-1.371818e+06,-2.931110e+05,285789.617647,-2.574576e+05,1.026697e+06,-2.144909e+06,3.039010e+06,8.785067e+05,-8.691809e+05,4.088476e+05
20171226,-2.470499e+06,-3.440720e+05,NaN,-1.408125e+06,-1.830092e+06,-1.762086e+06,-1.986431e+06,NaN,-2.404525e+04,-523417.910400,...,1.163559e+06,-1.240559e+06,-270158.983784,-7.628238e+05,3.662392e+04,-1.874649e+06,-8.145897e+05,-7.571885e+05,-3.209070e+06,-2.966353e+06
20171227,6.950518e+06,4.085191e+05,NaN,-4.536343e+05,1.249477e+06,1.328546e+06,4.031267e+06,NaN,4.066277e+05,98376.516000,...,-5.786473e+05,2.308638e+06,390661.303394,1.260087e+06,-7.930643e+05,6.036805e+05,-1.659970e+06,1.076841e+06,-1.977695e+06,1.064988e+05
20171228,3.671305e+05,-6.109901e+06,NaN,-1.610472e+06,1.750444e+05,-7.479044e+05,-1.736508e+06,NaN,1.240767e+06,56496.525000,...,1.271463e+06,1.403044e+06,467902.658571,1.218942e+06,-9.165618e+05,5.473273e+05,5.016410e+05,-1.946740e+05,-3.983166e+06,-2.495363e+06
20171229,-2.030061e+06,4.291458e+06,NaN,1.683052e+05,-1.661934e+05,1.193884e+06,-1.286813e+06,NaN,NaN,-45378.652500,...,4.633525e+05,-9.555012e+05,-111154.573913,-6.968362e+05,1.331446e+06,-3.242406e+06,-2.320471e+05,-3.270666e+05,-4.927754e+06,9.541820e+05

In [30]:
def SMA(A,n,m):
    alpha = m/n
    return A.ewm(alpha=alpha, adjust=False).mean()

alpha173=dv.add_formula('alpha173',"3*SMA(close,{},{})-2*SMA(SMA(close,{},{}),{},{})+SMA(SMA(SMA(Log(close),{},{}),{},{}),{},{})".format(13,2,13,2,13,2,13,2,13,2,13,2),is_quarterly=False,add_data=True,register_funcs={"SMA":SMA})

In [35]:
alpha173.tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,15.880843,32.804024,12.137561,10.580282,9.041408,10.079070,11.996340,NaN,41.687995,7.873605,...,128.635621,52.595467,42.400258,80.298581,30.029426,66.714452,17.582227,26.838947,28.637368,8.299409
20171226,16.043889,33.170495,12.137548,10.699432,9.045327,10.080786,11.982778,NaN,41.551267,7.873189,...,128.034453,53.098225,42.490320,80.441832,29.656967,67.882390,17.690590,26.766850,28.457982,8.263449
20171227,16.012204,33.570284,12.137536,10.776959,9.055219,10.055264,11.833047,NaN,41.430872,7.860455,...,127.163102,53.079534,42.419950,79.854716,29.557656,67.771101,17.652874,26.491132,28.151944,8.296519
20171228,15.953181,33.834017,12.137527,10.809760,9.056933,10.058590,11.821794,NaN,41.372534,7.846756,...,125.796381,53.022893,42.344042,79.544957,29.881914,67.317553,17.703966,26.448293,27.885955,8.510198
20171229,15.944506,34.178471,12.137519,10.870551,9.081271,10.174623,11.903531,NaN,41.373101,7.849021,...,125.130272,53.122032,42.351277,80.100726,30.052105,67.804009,17.934419,26.453766,27.964216,8.618689

In [32]:
def RM(A):
    c=ds.index_daily(universe=['000300.SH'],start_date=start,end_date=end,fields='close')#获取沪深300指数的close#
    b=dv.get_ts('close')
    df=c[0]

    for i in range (1,len(b.columns)):
        df.insert(i,i,df['close'])
    df.index=b.index
    df.columns=b.columns
    
    A=df
    return A

RM=dv.add_formula('RM',"Return(RM(close),1)",is_quarterly=False,add_data=True,register_funcs={"RM":RM})#沪深300指数收益#

In [33]:
Beta252=dv.add_formula('Beta252',"Covariance(Return(close,1),Return(RM,1),252)/(StdDev(RM,252)^2)",is_quarterly=False,add_data=True)

In [34]:
dv.get_ts('Beta252').tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,-7530.108982,-16518.389149,-5454.563457,-6609.673849,-3137.571016,-4505.682885,-9462.140284,NaN,-2654.553766,-2357.367291,...,NaN,-2464.923160,764.274949,1035.617643,NaN,-3067.051666,-6192.065791,-1863.062232,1911.424102,973.042948
20171226,-7600.846213,-16754.546513,-5541.389472,-6692.757492,-3185.797791,-4569.471331,-9593.881304,NaN,-2688.440285,-2390.243374,...,NaN,-2490.339491,799.114037,1036.200169,NaN,-3089.209427,-6273.789646,-1880.777557,1923.813790,978.068562
20171227,-7413.480291,-16327.586414,-5400.456496,-6512.307075,-3106.897608,-4464.102550,-9366.548678,NaN,-2619.963670,-2326.301296,...,NaN,-2442.904247,773.549183,998.900914,NaN,-3023.548245,-6137.959472,-1854.224498,1859.324804,962.407944
20171228,-7412.601909,-16293.749852,-5447.049996,-6528.134116,-3114.075791,-4450.727708,-9346.658446,NaN,-2609.377422,-2336.405989,...,NaN,-2441.274414,766.234594,994.045028,NaN,-3030.645322,-6143.511542,-1829.635138,1850.780768,1019.777018
20171229,-7427.939736,-16316.711800,-5447.619822,-6535.599946,-3115.692381,-4451.869913,-9352.074610,NaN,-2611.013454,-2333.988646,...,NaN,-2440.207319,771.476048,1024.156565,NaN,-3011.931262,-6143.705439,-1842.111113,1884.275234,1008.675902

In [36]:
alpha_pn = pd.Panel({'alpha{}'.format(i) : dv.get_ts('alpha{}'.format(i)) for i in [33,58,114,173]}).to_frame()
print(alpha_pn.tail())

                          alpha114   alpha173  alpha33  alpha58
trade_date symbol
20171229   603883.SH -3.242406e+06  67.804009 -1969.10     55.0
           603885.SH -2.320471e+05  17.934419   -46.92     65.0
           603888.SH -3.270666e+05  26.453766     4.64     50.0
           603899.SH -4.927754e+06  27.964216  4910.40     45.0
           603993.SH  9.541820e+05   8.618689   600.78     35.0

In [37]:
dv.save_dataview(dataview_folder)

Store data...
Dataview has been successfully saved to:
F:\data

You can load it with load_dataview('F:\data')